@import "tailwindcss";

@theme {
  --color-perfios-blue: #1C58A7;
  --color-perfios-green: #37BC8B;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f6f8fb;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}
